<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="#" th:action="@{/mensajealta}" th:object="${camionero}" method="post">
    <p>Nombre: <input type="text" th:field="*{nombre}"/></p>
    <p>Apellidos: <input type="text" th:field="*{apellidos}"/></p>
    <p>Correo electronico: <input type="text" th:field="*{correo_electronio}"/></p>
    <p>Numero de Telefono: <input type="number" th:field="*{numero_telefono}"></p>
    <p>Fecha de Nacimiento: <input type="date" format="yyyy-MM-dd" th:field="*{fecha_nacimiento}"/></p>
    <p>Genero: Hombre<input type="radio" value="Hombre" th:field="*{genero}"/>
        Mujer<input type="radio" value="Mujer" th:field="*{genero}"/></p>
    <div>
        <select th:field="*{transporte}">
            <option th:each="i : ${valoresTransporte}" th:value="${i}" th:text="${i}"></option>
        </select>
    </div>
    <p>Contratado: Si<input type="radio" value="true" th:field="*{contratado}"/>
            No<input type="radio" value="false" th:field="*{contratado}"/></p>
    <p><textarea th:field="*{comentarios}"></textarea></p>
    <p><input type="submit" value="Submit"/></p>
</form>

</body>
</html>