<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>EEP CONSULTIN</title>
    <link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <link href="../static/css/estilos.css" rel="stylesheet" th:href="@{/css/estilos.css}"/>
</head>
<body class="vh-100 d-flex flex-column">
<header>
    <h1 class="bg-info mb-0 text-center py-2">EEP CONSULTING</h1>
</header>
<main class="d-flex h-100">
    <nav class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark h-100" style="width: 280px;">
        <a href="/" class="active d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
            <svg class="bi me-2" width="40" height="32">
                <use xlink:href="#bootstrap"/>
            </svg>
            <span class="fs-4">Operaciones Camioner@s</span>
        </a>
        <hr>
        <ul class="nav nav-pills flex-column mb-auto">
            <li class="nav-item">
                <a href="/alta" class="nav-link text-white" aria-current="page">
                    <svg class="bi me-2" width="16" height="16">
                        <use xlink:href="#home"/>
                    </svg>
                    Alta
                </a>
            </li>
            <li>
                <a href="/busqueda" class="nav-link text-white">
                    <svg class="bi me-2" width="16" height="16">
                        <use xlink:href="#speedometer2"/>
                    </svg>
                    Baja
                </a>
            </li>
            <li>
                <a href="/busqueda" class="nav-link text-white">
                    <svg class="bi me-2" width="16" height="16">
                        <use xlink:href="#table"/>
                    </svg>
                    Modificacion
                </a>
            </li>
            <li>
                <a href="/listado" class="nav-link text-white">
                    <svg class="bi me-2" width="16" height="16">
                        <use xlink:href="#grid"/>
                    </svg>
                    Listado
                </a>
            </li>
            <li>
                <a href="/registro" class="nav-link active text-white">
                    <svg class="bi me-2" width="16" height="16">
                        <use xlink:href="#people-circle"/>
                    </svg>
                    Registro
                </a>
            </li>
        </ul>
    </nav>
    <div class="color-mods w-100 tabla">
        <table class="table table-striped color-tabla">
            <thead class="headth">
            <tr>
                <th>Hora</th>
                <th>Operacion</th>
                <th>Log</th>
            </tr>
            </thead>
            <tbody>
                <tr th:each="i : ${registro}">
                    <td><span style="text-align: center" th:text="*{i.hora}"></span></td>
                    <td><span style="text-align: center" th:text="*{i.operacion}"></span></td>
                    <td><span style="text-align: center" th:text="*{i.log}"></span></td>
                </tr>
            </tbody>
        </table>
    </div>
</main>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="../static/js/bootstrap.js" th:href="@{/js/bootstrap.js}"></script>
</body>
</html>